@import './constants/colors';
@import './constants/typography';

@import './components/analysis-nav';
@import './components/main-nav';
@import './components/datepicker';

html,
body {
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  font-family: $font-main, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: $font-main;
}
@import './Home.module.scss';
@import './pages/search-page';
@import './pages/shopping-page';
@import './pages/signup-page';
@import './pages/signin-page';
